@font-face {
  font-family: 'vbt-icon';  /* project id 425602 */
  src: url('//at.alicdn.com/t/font_425602_lqqcn9ikbal.eot');
  src: url('//at.alicdn.com/t/font_425602_lqqcn9ikbal.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_425602_lqqcn9ikbal.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_425602_lqqcn9ikbal.woff') format('woff'),
  url('//at.alicdn.com/t/font_425602_lqqcn9ikbal.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_425602_lqqcn9ikbal.svg#vbt-icon') format('svg');
}


.vbt-icon{
  font-family:"vbt-icon" !important;
  font-size: 16px;
  font-style: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top_hide-enter-active, .top_hide-leave-active
  transform scaleY(1) 
  transition 0.2s ease-out
  opacity 1
.top_hide-enter, .top_hide-leave-to
  transform scaleY(0.7)
  opacity 0.3
.bestime-v-loading
  position absolute
  left 0
  top 0
  bottom 0
  right 0
  z-index 20


.fade-enter-active, .fade-leave-active {
  transition: 0.2s ease;
}
.fade-enter, .fade-leave-to {
  opacity 0
}


.fade-left-enter-active, .fade-left-leave-active {
  transition: 0.2s ease;
}
.fade-left-enter, .fade-left-leave-to {
  transform: scale(0.7)
  opacity 0
}