@font-face {
  font-family: 'vbt-icon';  /* project id 425602 */
  src: url('//at.alicdn.com/t/font_425602_vtufshtv68.eot');
  src: url('//at.alicdn.com/t/font_425602_vtufshtv68.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_425602_vtufshtv68.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_425602_vtufshtv68.woff') format('woff'),
  url('//at.alicdn.com/t/font_425602_vtufshtv68.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_425602_vtufshtv68.svg#vbt-icon') format('svg');
}


.vbt-icon{
  font-family:"vbt-icon" !important;
  font-size: 16px;
  font-style: normal;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top_hide-enter-active, .top_hide-leave-active
  transform scaleY(1) 
  transition 0.2s ease-out
  opacity 1
.top_hide-enter, .top_hide-leave-to
  transform scaleY(0.7)
  opacity 0.3
.bestime-v-loading
  position absolute
  left 0
  top 0
  bottom 0
  right 0
  z-index 20


.fade-enter-active, .fade-leave-active {
  transition: 0.2s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0.7)
  opacity 0
}