

getActiveColor(alpha)
  rgba(64,158,255, alpha)

getWarningColor(alpha)
  rgba(255,153,0, alpha)

getErrorColor(alpha)
  rgba(237,64,20, alpha)

getSuccessColor(alpha)
  rgba(25,190,107, alpha)

getInfoColor(alpha)
  rgba(144,147,153, alpha)

$staticTextColor = #666
$staticBorderColor = #c3c3c3
$staticDisabledColor = #bbb
$borderRadius = 0
$staticBackColor = #f8f8f9